# Play mysql with python

In [3]:
!python -m pip install mysql-connector-python

Collecting mysql-connector-python

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\User\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

  Downloading mysql_connector_python-8.0.28-cp39-cp39-win_amd64.whl (7.2 MB)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from mysql-connector-python) (3.19.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.28

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="dipta143"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000264E74041F0>

In [6]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [4]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('ignity_qa_db_2',)
('learningbackend',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('test',)
('world',)

Or you can try to access the database when making the connection:

In [16]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="dipta143",
  database="mydatabase"
)

# MySQL Create table

In [9]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# Insert Into Table

In [13]:
# Insert single row
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [14]:
#Inser many row
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [17]:
print("Inserted, ID:", mycursor.lastrowid)

Inserted, ID: 0

# Select from mysql

In [17]:
cursor = mydb.cursor()

cursor.execute("SELECT * FROM customers")
rows = cursor.fetchall()

In [18]:
print('Total Row(s):', cursor.rowcount)

Total Row(s): 14

In [19]:
for row in rows:
    print(row)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

In [20]:
rows

[('John', 'Highway 21'),
 ('Peter', 'Lowstreet 4'),
 ('Amy', 'Apple st 652'),
 ('Hannah', 'Mountain 21'),
 ('Michael', 'Valley 345'),
 ('Sandy', 'Ocean blvd 2'),
 ('Betty', 'Green Grass 1'),
 ('Richard', 'Sky st 331'),
 ('Susan', 'One way 98'),
 ('Vicky', 'Yellow Garden 2'),
 ('Ben', 'Park Lane 38'),
 ('William', 'Central st 954'),
 ('Chuck', 'Main Road 989'),
 ('Viola', 'Sideway 1633')]

# Now you can do all kinds of SQL Operations in the sql query.

In [23]:
#Where operation
cursor.execute("SELECT * FROM customers where name = 'John'")
result = cursor.fetchall()
result

[('John', 'Highway 21')]

In [24]:
#Order by operation
cursor.execute("SELECT * FROM customers order by name")
result = cursor.fetchall()
result

[('Amy', 'Apple st 652'),
 ('Ben', 'Park Lane 38'),
 ('Betty', 'Green Grass 1'),
 ('Chuck', 'Main Road 989'),
 ('Hannah', 'Mountain 21'),
 ('John', 'Highway 21'),
 ('Michael', 'Valley 345'),
 ('Peter', 'Lowstreet 4'),
 ('Richard', 'Sky st 331'),
 ('Sandy', 'Ocean blvd 2'),
 ('Susan', 'One way 98'),
 ('Vicky', 'Yellow Garden 2'),
 ('Viola', 'Sideway 1633'),
 ('William', 'Central st 954')]